<footer class="bg-black-100 xl:py-25 py-20">
  <div class="w-full container:max-w-1196 full:max-w-1920 mx-auto xl:px-0 px-3">
    <div class="flex xl:items-center justify-between xl:flex-row flex-col">
      <div class="xl:mb-0 mb-10">
        <img class="xl:mb-8 mb-10" src="/assets/images/footer-logo.png" alt="footer-logo">
        <ul class="flex xl:items-center justify-start xl:flex-row flex-col">
          <li class="xl:mr-8 mr-0 xl:mb-0 mb-4">
            <a class="text-white-0 text-base" href="#">常見問題</a>
          </li>
          <li class="xl:mr-8 mr-0 xl:mb-0 mb-4">
            <a class="text-white-0 text-base" href="#">關於我們</a>
          </li>
          <li class="xl:mr-8 mr-0 xl:mb-0 mb-4">
            <a class="text-white-0 text-base" href="#">隱私權政策</a>
          </li>
          <li>
            <a class="text-white-0" href="#">使用者條款</a>
          </li>
        </ul>
      </div>
      <div class="flex flex-col xl:items-end xl:justify-start">
        <ul class="mb-4 flex items-center">
          <li class="mr-4">
            <a href="#">
              <img src="/assets/images/btn_line.png" alt="line">
            </a>
          </li>
          <li class="mr-4">
            <a href="#">
              <img src="/assets/images/btn_yt.png" alt="youtube">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="/assets/images/btn_fb.png" alt="fb">
            </a>
          </li>
        </ul>
        <p class="text-black-50 text-sm">copyright © 2025 ZOBAA 旅遊網站 All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>