<header>
  <nav class="w-full container:max-w-1196 full:max-w-1920 mx-auto xl:px-0 px-3 py-4">
      <div class="flex items-center justify-between">
        <!-- 電腦版 -->
        <div class="flex items-center flex-1">
          <a href="./index.html" class="flex-shrink-0 mr-6">
            <img src="/assets/images/logo.png" alt="logo">
          </a>
          
          <!-- 搜尋-->
          <div class="hidden xl:block flex-1 max-w-lg">
            <div class="relative">
              <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                <span class="material-symbols-outlined text-black-60">
                  search
                </span>
              </div>
              <input 
                type="search"
                class="block w-full pl-10 pr-3 py-2.5 text-search border border-black-40 rounded-lg bg-white placeholder-black-60"
                placeholder="搜尋景點、地點或城市">
            </div>
          </div>
        </div>

        <!-- 購物車、登入註冊按鈕 -->
        <div class="flex items-center">
          <!-- 手機版 - 搜尋 -->
          <button class="xl:hidden p-2">
            <span class="material-symbols-outlined text-black-80">
              search
            </span>
          </button>

          <!-- 購物車 icon -->
          <a href="#" class="relative py-2 px-3 mr-4">
            <span class="material-symbols-outlined text-black-80">
              shopping_cart
            </span>
            <!-- 購物車數量提示 -->
            <span class="absolute top-1 right-2  bg-alert-100 text-white-0 text-xs rounded-full h-4 w-4 flex items-center justify-center">2</span>
          </a>

          <!-- 會員 -->
          <button type="button" class="hidden xl:flex items-center space-x-2">
            <img class="w-8 h-8 mr-2" src="/assets/images/avatar-1.png" alt="avatar-1">
            <p class="text-primary-100 text-title-base">Jessica</p>
          </button>

          <!-- 手機版 - 漢堡選單 -->
          <button class="xl:hidden p-2">
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="#4B4B4B">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </button>
        </div>
      </div>
  </nav>
</header>